<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="global_modals">

    <!-- modal detalle -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="detailTitle">Detalle</h2>
                <span class="close" id="closeDetailModal" data-close="detailModal">&times;</span>
            </div>
            <div id="detailBody" class="modal-body"></div>
        </div>
    </div>

    <!-- modal de eliminación-->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" data-close="deleteModal">&times;</span>
            <h2>Confirmar Eliminación</h2>
            <p>¿Estás seguro que deseas eliminar este registro?</p>
            <div class="modal-actions">
                <button id="confirmDelete" class="modal-btn danger">Eliminar</button>
                <button class="modal-btn secondary" data-close="deleteModal">Cancelar</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>